/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

/* header */
header {
  width: 100%;
}
/* announcebar */
.announcebar {
  display: flex;
  background: linear-gradient(76.41deg,#2c56dd 47.95%,#1236ab 95.07%),#2c56dd;
  color: white;
  font-size: .688rem;
  padding: 12px 0 8px;
  justify-content: center;
  align-items: center;

}
.announcebar__inner {
    transition: all 250ms ease;
  display: flex;
  margin: auto;
}

.announcebar__inner:hover {
  opacity: 0.4;
}

.announcebar__content {
  display: flex;
  text-align: center;
}

.announcebar__content__img {
  position: relative;
  top: -2px;
  margin: 0px 12px;
}

.announcebar__wallet {
  display: flex;
  text-align: center;
}
.wallet__title {
  font-weight: bold;
  margin: 0px 4px;
}
.announcebar__btn {
  position: relative;
  top: -2px;
  right: 0;
  color: white;
  font-size: .688rem;
}

/* navbar */
.navbar {
  position: absolute;
  z-index: 999;
  top: 40px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  background-color: #202328;
  align-items: center;
}

.navbar__logo {
  
}

.navbar__logo svg {
  width: 160px; 
  fill:white;
}

.navbar__menu {
  display: flex;
  padding-bottom: 4px;
}

.navbar__item {
  margin-right: 32px;
}

.navbar__item__title {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.navbar__btns {
  display: flex;
  align-items: center;
}

.navbar__btns > * {
  color: white;
  margin-left: 18px;
}

.navbar__btn__contact {
  font-weight: bold;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 11px;
  padding: 12px 18px;
}

.navbar__btns button i {
  font-size: 20px;
}

/* hero */
#hero {
  background-image: url(https://cdn.consensys.net/uploads/2020/04/15072437/consensys-reza-bg-edited-01-1920x1079.png);
  height: 680px;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 130px;


}

.hero__content {
  max-width: 1200px;
  height: 400px;
  //max-width: 75rem;
  width: 80%;
}

.hero__content__title {
  width: 65%;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}

.hero__content__sub {
  width: 65%;
  margin: 20px 0px 40px 0px;
  font-size: 1.2rem;
  opacity: 0.8;
}

.hero__content__explore {
  background-color: #2c56dd;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 18px 36px;
  border-radius: 4px;
}

/* info */
#info {
  display: flex;
  //background-color: pink;
  margin: 3.5rem 0;
  width: 80%;
  max-width: 1200px;
  justify-content: space-between;
}

.org {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex: 0 70%;
  //background-color: blue;
}

.org__title {
  font-size: 1.125rem;
  font-weight: bold;
}

.org__partner__box {
  margin-top: 24px;
  display: flex;
  width: 100%;
  //background-color: pink;
}

.org__partner {
  width: 20%;
}

.partner {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.newsletter {
  flex: 1 30%;
  //background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__title {
  font-size: 1rem;
  font-weight: bold;
}

.newsletter__input {
  margin: 12px 0;
  height: 2.8rem;
  width: 120%;
  //background-color: pink;
  position: relative;

}

.newsletter__form__input {
  background-color: hsla(0,0%,61.6%,.1);
  border: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

.newsletter__form__input::placeholder {
  padding-left: 12px;
  color: #848484;
  font-size: 0.668rem;
  opacity: 0.9;
  letter-spacing: 1px;
}

.newsletter__form__btn {
  font-size: 1.25rem;
  margin-right: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.newsletter__caption {
  font-size: 0.625rem;
  color: #848484;
}

.newsletter__sns__box {
  margin-top: 12px;
  width: 110%;
  display: flex;
  justify-content: space-between;
}

/* industry */
#industry {
  //background-color: pink;
  width: 80%;
  max-width: 1240px;
  height: 360px;
}
.indsutry__cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.indsutry__cards > a {
  margin: 1%;
  width: 30%;
  //background-color: blue;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
}

#industry a:nth-child(1) {
  background-color: #f47a07;
}
#industry a:nth-child(2) {
  background-color: #2c56dd;
}
#industry a:nth-child(3) {
  background-color: #202328;
}
#industry a:nth-child(4) {
  background-color: #0a0000;
}
#industry a:nth-child(5) {
  background-color: #ff6b4a;
}
#industry a:nth-child(6) {
  background-color: #497bf8;
}


.card__img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 40px;
  margin: 20px;
}

.card__content {
  color: white;
  position: absolute;
  bottom: 0;
  padding: 20px 30px;
}

.card__stats {
  font-size: 2rem;
  font-weight: bold;
}

.card__details {
  font-weight: bold;
}

/* solutions */
#solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  height: 280px;
  margin: 0;
}

.solutions__title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 32px;
}

.solutions__details {
  min-width: 778px;
  width: 60%;
  text-align: center;
  font-size: 1rem;
  color: #4c4c4c;
}

/* app */
#app {
  padding: 0rem 0;
  width: 80%;
  max-width: 1200px;
  height: 890px;
  //background-color: pink;
}

.app__cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app__card {
  width: 100%;
  height: 100%;
  background-color: #f5f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}

.app__card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.app__cards > a {
  margin: 1.25rem;
    width: 30%;
}

.app__card__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.app__card__details {
  width: 90%;
  font-size: 1rem;
  color: #4c4c4c;
  text-align: center;
  margin-bottom: 1.5rem;
}

.app__card__img {
  width: 110px;
  height: 110px;
  margin-bottom: 2rem;
}

.app__card__btn {
  border: 1px solid #121212;
  padding: 15px 30px;
  font-size: 0.75rem;
  color: #121212;
  font-weight: bold;
  border-radius: 5px;
  transition: all 300ms ease;
}

.app__card__btn:hover {
  background-color: #2c56dd;
  color: white;
  border: transparent;
}

/* report */
#report {
  margin: 5rem 0;
  width: 80%;
  max-width: 1200px;
  height: 1300px;
  //background-color: pink;
}

.report__cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.report__card {
  display: flex;
  height: 30%;
  width: 100%;
  align-items: center;
}
.report__card > a {
  flex-basis: 50%;
  height: 100%;
  margin-right: 1.25rem;
}
.report__card:nth-child(even) > a {
  order: 1;
  margin-right: 0;
  margin-left: 1.25rem;
}
.report__card__img {
  height: 100%;
  width: 100%;
}

.report__card__content {
  flex-basis: 50%;
  //background-color: blue;
  margin-left: 1.25rem;
}

.report__card:nth-child(even) .report__card__content {
  margin-left: 0rem;
  margin-right: 1.25rem;
}
.report__card + .report__card {
  margin-top: 5%;
}

.report__card__insight {
  font-size: 0.813rem;
  color: #2c56dd;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.report__card__title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.report__card__details {
  font-size: 1rem;
  color: #4c4c4c;
  margin-bottom: 1.2rem;
}

.report__card__btn {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 16px 28px;
  border: 1px solid #2c56dd;
  color: #2c56dd;
  border-radius: 5px;
  transition: all 300ms ease;
}

.report__card__btn:hover {
  background-color: #2c56dd;
  color: white;
  border: 1px solid transparent;
}

/* quote */
#quote {
  width: 100%;
  height: 500px;
  background-position: top center;
  background-size: cover;
  background-image: url(https://cdn.consensys.net/uploads/joe-ethereal-1920x960.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote__contents {
  line-height: 1.2;
  position: relative;
  left: 250px;
  color: white;
  border-left: 3px solid white;
  width: 720px;
  padding: 1.25rem 0 1.25rem 2.5rem;
}

.quote__contents__title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.quote__contents__details {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #b8b8b8;
  font-weight:bold;
}

/* footer */
footer {
  width: 100%;
  height: 900px;
  background-color: #202328;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__content {
  max-width: 1200px;
  color: white;
  width: 80%;
  display: flex;
  height: 791px;
  margin: 2.2rem 0 2rem 0.25rem;
}

.footer__menu {
  display: flex;
}
.footer__menu> div + div {
  margin-left: 6.5rem;
}

#footer__newsletter {
    margin-left: 6.5rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.7rem;
}

#footer__newsletter .newsletter__title {
  font-size: 1.05rem;
}

#footer__newsletter .newsletter__input {
  width: 140%;
}

#footer__newsletter i {
  color: white;
}

#footer__newsletter .newsletter__sns__box {
  color: white;
}

#footer__newsletter .newsletter__caption {
  color: #9d9d9d;
}

.newsletter__login {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 12px 0;
  width: 140%;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  transition: all 300ms ease;
}
.newsletter__login:hover {
  background-color: #2c56dd;
  border: 1px solid transparent;
}

.footer__menu__title {
  letter-spacing: -0.5px;
  line-height: 1.21;
  font-weight: bold;
  font-size: 1.05rem;
  margin-bottom: 0.3rem;
  margin-top: 1.5rem;
}

.footer__menu__item {
  letter-spacing: -0.5px;
  font-size: 0.925rem;
  margin-bottom: 0.35rem;
  color: #9d9d9d;
}

.footer__bar {
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #121212;
}

.footer__bar__content {
  max-width: 1200px;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.footer__bar__logo {
  height: 26px;
  display: flex;
}

.footer__bar__img {
  height: 100%;
  width: 26px;
  filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(145deg) brightness(112%) contrast(101%);
}

.footer__bar__title {
  letter-spacing: 0.25px;
  margin-left: 0.688rem;
  line-height: 26px;
  font-size: 0.688rem;
  color: white;
  font-weight: bold;
}

.footer__bar__terms {
  display: flex;
  align-items: center;
}

.footer__bar__privacy, .footer__bar__use {
    line-height: 26px;
  letter-spacing: 0.25px;
  font-size: 0.688rem;
  color: white;
  font-weight: bold;
}

.footer__bar__list::before {
background-color: #fff;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: .188rem;
    margin: 0 .25rem;
    width: .188rem;
}

/* cookies */
.cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: black;
  opacity: 0.9;
  justify-content: space-between;

}

.cookies__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 4;
  font-size: 0.75rem;
  color: #9d9d9d;
}

.cookies__content > a {
  color: white;
}
.cookies__btn {
  display: flex;
  justify-content: center;
  flex: 1;
}

.cookies__btn__accept, .cookies__btn__decline {
  font-size: 1.05rem;
  padding: 0.95rem 0.5rem;
  color: white;
}

.cookies__btn__accept {
  font-weight: bold;
}

/* mixer */
.mixer__btn {
  background-color: #2c6fdd;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
}

.mixer__btn:hover {
  transform: scale(1.1);
}

.mixer__btn > svg {
  width: 80%;
  height: 80%;
  filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(145deg) brightness(112%) contrast(101%);
}